body {
    font-family: sans-serif, 'Helvetica Neue', Helvetica, Arial;
}

.navbar-toggler-wrapper {
    width: 3.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

    /* Change wrapper background when toggler is expanded */
    .navbar-toggler-wrapper.sidebar-expanded {
        background-color: rgba(255, 255, 255, 0.5);
    }

.navbar-toggler {
    width: 100%;
    height: 100%;
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.bottom-row {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    text-align: right;
    width: 100%;
    padding-right: 28px;
}

/* Header shape */
.sidebar-header {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    width: 100%;
}

/* Header behavior */
.header-content {
    display: flex;
    align-items: center;
    padding: 0 1.3rem;
    width: 100%;
    gap: 0.7rem;
}

/* Header styling */
.header-brand {
    color: white;
    text-decoration: none;
    line-height: 1;
    margin: 0;
    font-size: 1.4rem;
    white-space: nowrap;
    opacity: 0; /* Hidden when collapsed */
    transition: opacity 0.2s ease;
}

.nav-item {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

    .nav-item label {
        opacity: 0;
        transition: opacity 0.2s;
        pointer-events: none;
    }

    .nav-item label, .header-brand {
        opacity: 0;
        transition: opacity 0.2s ease;
        white-space: nowrap;
    }

    /* Target icons inside a nav-item */
    .nav-item ::deep .bi,
    .nav-item ::deep i {
        font-size: 1.5rem; /* Icons scale with font size */
        width: 1.5rem;
        height: 1.5rem;
        display: flex;       /* Forces the icon container to center its own SVG */
        align-items: center;
        margin-top: 0;       /* Removes any inherited Bootstrap offsets */
        top: 0;              /* Resets any relative positioning */
    }

    .nav-item:first-of-type {
        padding-top: 0.5rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #ffffff;
        background: none;
        border: none;
        border-radius: 4px;
        display: flex;
        height: 3.5rem;
        gap: 1rem;
        align-items: center;
        padding: 0 1rem;
        width: 100%;
        transition: background-color 0.2s;
        white-space: nowrap;
    }

    .nav-item ::deep .nav-link label {
        cursor: pointer;
    }

    .nav-item ::deep a.active {
        background-color: rgb(113, 118, 158);
        background-color: rgba(255,255,255,0.4);
        color: white;
    }

    .nav-item ::deep .nav-link:hover {
        background-color: rgb(75, 78, 115);
        background-color: rgba(255,255,255,0.2);
        color: white;
    }

.nav-scrollable {
    position: absolute; /* Lifts it off the page layer */
    top: 0;
    left: 0;
    width: 3.75rem; /* Collapsed width (icon only) */
    transition: width 0.2s ease;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

    /* Show the brand & text for all labels when the navbar is hovered or expanded */
    .nav-scrollable.sidebar-expanded .header-brand,
    .nav-scrollable.sidebar-expanded .nav-item label {
        opacity: 1;
    }

    /* On hover/expand, give the navbar more room */
    .nav-scrollable.sidebar-expanded {
        width: 250px;
    }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

/* Restrict hover effects to just the devices that can use them (cursor-required) */
@media (hover: hover) {
    .nav-scrollable:hover .header-brand,
    .nav-scrollable:hover .nav-item label {
        opacity: 1
    }

    .nav-scrollable:not(.sidebar-expanded):hover {
        width: 250px;
    }
}
